# Practical Machine Learning 
### Project: Model Selection

# Abstract

# Part 1: Business and Data Understanding

### Q. Define the problem domain

### Q. Identify candidate questions for your machine learning project

### Q. Identify a suitable dataset for your canditate question(s)

Go have a look at any of these websites:

* https://www.kaggle.com/datasets 
* https://datasetsearch.research.google.com/
* https://data.gov.uk/

Find an interesting looking data set related to your problem domain and get a copy of it

In [3]:
import pandas as pd
df= pd.read_csv('Sample Data/Agora.csv', encoding="latin1")

### Q. Generate a descriptive statistics report for the columns in your dataset

In [5]:
df.describe(include='all')

,Vendor,Category,Item,Item Description,Price,Origin,Destination,Rating,Remarks
count,109689,109689,109687,109662,109684,99807,60528,109674,12616
unique,3192,109,107601,69526,102682,404,1196,478,5
top,optiman,Drugs/Cannabis/Weed,1g MDMA,[----- Terms & Conditions -----] -YOU MUST RE...,1.0 BTC,USA,USA,5.00/5,Average price may be skewed outliar > .5 BTC f...
freq,881,21272,18,264,74,33729,14664,19637,12612

In [6]:
df.isna().sum()

Vendor                   0
 Category                0
 Item                    2
 Item Description       27
 Price                   5
 Origin               9882
 Destination         49161
 Rating                 15
 Remarks             97073
dtype: int64

# Part 2: Data Preparation

### Q. Discuss the following types of missing data and how they would be handled in reference to your dataset where applicable.
*	Missing completely at random (MCAR)
*	Missing at random (MAR)
*	Missing Not at Random (MNAR)

# Part 3: Model Selection

### Q. Use the cheat sheet below to choose the algorithm/estimator suitable for building a model to address your candidate question(s)

* https://scikit-learn.org/stable/tutorial/machine_learning_map/

# Part 4: Model Evaluation

### Q. Identify which of the statistical measures below are suitable for the evaluation of your model.

Classification Metrics:
* Accuracy
* Precision
* Recall
* F1 Score

Regression Metrics:
    
* Mean absolute error (MAE)
* Root mean squared error (RMSE)
* Relative absolute error (RAE)
* Relative squared error (RSE)
* Mean Zero One Error (MZOE)
* Coefficient of determination

# Part 5: Stretch - Model Deployment

### Q. Evaluate the open-source app framework for Machine Learning model deployment below in your own time.

* https://streamlit.io/